/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2');
}
/* inter-700 - cyrillic_latin */
@font-face {
    font-display: swap; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-cyrillic_latin-700.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}

ul, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.fixed-container {
    min-width: 320px;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .menu {
        margin-right: 70px;
    }

        .menu__list {
            display: flex;
            gap: 10px;
        }

                .menu__link {
                    text-transform: uppercase;
                    padding: 42px 20px;
                    transition: all 0.9s;
                }

                .menu__link:hover {
                    background-color: #131313;
                    color: white;
                }

.bicycles {
    padding: 100px 0 75px;
}       

    .bicycles__wrapper {
        display: flex;
        justify-content: space-between;
    }

        .bicycles__title {
            font-size: 64px;
            font-weight: 700;
            line-height: 77px;
            margin: 72px 0 5px;
        }

        .bicycles__subtitle {
            margin: 0 0 60px;
            font-size: 32px;
            font-weight: 400;
            line-height: 39px;
            color: #6F6F6F;
        }

        .bicycles__text {
            max-width: 420px;
            margin-bottom: 20px;
        }

        .bicycles__link,
        .form__button {
            transition: all 0.3s;
        }

        .bicycles__link {
            margin-top: 60px;
            display: inline-block;
            background-color: #131313;
            color: white;
            padding: 28px 70px 28px 80px;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 22px;
        }

        .bicycles__link:hover,
        .form__button:hover {
            background-color: #FF4040;
        }

        .bicycles__column-slider {
            flex-basis: 630px;
            margin-left: 30px;
            max-width: 630px;
        }

            .bicycles-slider .slick-dots {
                right: 0;
                top: 52px;
            }

            .slick-dots {
                position: absolute;
            }

                .slick-dots li + li{
                    padding-top: 10px;
                }

                    .slick-dots button {
                        font-size: 0;
                        padding: 0;
                        border: none;
                        background-color: #131313;
                        width: 2px;
                        height: 25px;
                        border-radius: 7px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }

                    .slick-dots button:hover,
                    .slick-active button {
                        background-color: #FF4040;
                    }

            .bicycles__list {
                display: flex;
                justify-content: space-around;
                margin-top: 25px;
            }  
            
                .bicycles__list-item { 
                    min-width: 160px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    min-height: 58px; 
                }

                    .bicycles__list-number {
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    .bicycles__list-text {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 15px;
                        margin: auto 0;
                    }

.info {
    padding: 75px 0 75px;
}         

    .info__wrapper {
        display: flex;
    }

        .info__img {
            margin-right: 60px;
            flex-basis: 570px;
            object-fit: cover;
        }

        .info__list {
            flex-basis: 490px;
        }

            .info__list-item + .info__list-item{
                padding-top: 50px;
            }

                .info__item-title {
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    margin: 0 0 10px;
                }

                .info__item-text {
                    max-width: 450px;
                    margin: 0;
                }

.characteristics {
    padding: 75px 0 150px;
}

    .characteristics__title {
        margin: 0 0 40px;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
    }

    .characteristics__wrapper {
        display: flex;
    }   

        .characteristics__items {
            flex-basis: 570px;
            margin-right: 60px;
        }

            .characteristics__list + .characteristics__list {
                padding-top: 30px;
            }

                .characteristics__list-title {
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 2px 0 3px;
                    color: white;
                    background-color: #131313;
                }

                .characteristics__list-line {
                    display: flex;
                    padding-top: 5px;
                }

                    .characteristics__line-name,
                    .characteristics__line-description {
                        flex-basis: 285px;
                    }

                    .characteristics__line-name {
                        padding-right: 25px;
                    }

        .characteristics__img {
            align-self: center;
        }

.slider {
    margin-bottom: 50px;
}  

    .slider__items .slick-dots {
        top: 0;
        left: 0;
    }

        .slider__item {
            padding-left: 50px;
        }

.price {
    margin-bottom: 100px;
}    

    .price__wrapper {
        position: relative;
    }

        .form {
            max-width: 420px;
        }

            .form__title {
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                margin: 0 0 40px;
            }

            .form__text {
                max-width: 300px;
                margin-bottom: 30px;
            }

            .form__input-name,
            .form__input-phone {
                width: 100%;
                border: none;
                border-bottom: 1px solid #131313;
                outline: none;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }

            .form__input-name::placeholder,
            .form__input-phone::placeholder,
            .form__input-text {
                color: #6F6F6F;
                opacity: 0.5;
            }

            .form__input-text {
                margin-bottom: 10px;
            }

            .form__label-box {
                display: flex;
                margin-bottom: 50px;
            }

                .form__label + .form__label {
                    margin-left: 23px;
                }

                    .form__input-radio {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        overflow: hidden;
                        clip: rect(0 0 0 0);
                    }

                    .form__input-radio:checked + .form__bicycles {
                        display: block;
                    }

                    .form__bicycles {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                        .form__bicycles-price,
                        .form__bicycles-price::after {
                            position: absolute;
                            width: 220px;
                            height: 100px;
                            border: 1px solid #FF4040;
                            border-radius: 50%;
                        }

                        .form__bicycles-price {
                            font-size: 32px;
                            top: 30px;
                            left: 0;
                            right: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transform: translateX(-50%);
                        }

                        .form__bicycles-price::after {
                            content: "";
                            top: 12px;
                            left: 0;
                        }

                    .form__radio-style {
                        border-radius: 30px;
                        width: 80px;
                        height: 12px;
                    }

                    .form__radio-style_grey {
                        background-color: #6F6F6F;
                    }

                    .form__radio-style_white {
                        background-color: #FFF;
                        border: 1px solid #6F6F6F;
                    }

                    .form__radio-style_red {
                        background-color: #FF4040;
                    }

            .form__button {
                background-color: #131313;
                padding: 28px 70px 28px 80px;
                border: none;
                color: white;
                text-transform: uppercase;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: 1.1em;
                cursor: pointer;
            }     

.footer {
    background-color: #131313;
}  

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

        .footer__link,
        .footer__contact {
            color: #FFF;
            text-decoration: underline;
            font-size: 12px;
            line-height: 15px;
        }

        .footer__link {
            text-decoration: underline;
        }

        .footer__social-link + .footer__social-link {
            margin-left: 26px;
        }

        .footer__contact-link {
            display: flex;
            align-items: center;
        }

        .footer__contact-link + .footer__contact-link {
            margin-top: 10px;
        }

            .footer__contact-img {
                margin-right: 10px;
            }